body{
    background-color: #dfded8
}
.prompt{
    margin-top: 5px;
}

span.txt {
    margin-left: 1%;
    display: block;
    width: 92%;
    height: 100px;
    padding: 5px;

}
span.btn {
    margin-top: -100px;
    margin-left: 92%;
    display: block;
    width: 7%;
    height: 100px;
    padding: 5px;
}

.send-txt {
    height: 100%;
    width: 100%;
    resize: none;
}
.send-btn {
    width: 100%;
    height: 100%;
}

.user-message {
    background-color: #c1e6e2;
    color: black;
    border-radius: 5px;
    padding: 10px;
    transition: 1s;
}

.bot-message {
    background-color: #1a5f80;
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: 1s;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 95%;
}

.bot-div {
    text-align: right;
}

.bot-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 95%;
}

.chat-box {
    margin: 0px 1% 0 1%;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 750px;
    background-color: white;
}
