<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>A.T. Fatec</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\static\css\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\style-header.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\style-at.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="menu-lateral">
        <div>
            <div class="logo">
                <img src="..\static\imagens\logo.png" id="logo">
            </div>
            <div class="txt-logo">
                <p>SISAWEB</p>
            </div>
        </div>
        <br>
        <div id="btn-expand">
            <i class="bi bi-list"></i>
        </div>
        <div class="menu">
            <div class="iten-menu">
                <form action="/agrotech">
                    <button id="btn-agrotech" name="btn-agrotech" type="submit" class="btn btn-success btn-menu">
                        <div>
                            <div class="icon">
                                <i class="bi bi-virus"></i>
                            </div>
                            <div class="txt-button">
                                <p>CHAT</p>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="iten-menu">
                <form action="/arquivos">
                    <button id="btn-files" name="btn-files" type="submit" class="btn btn-success btn-menu">
                        <div>
                            <div class="icon">
                                <i class="bi bi-archive"></i>
                            </div>
                            <div class="txt-button">
                                <p>Arquivos SISAWEB</p>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="iten-menu">
                <form action="/guia">
                    <button id="btn-files" name="btn-files" type="submit" class="btn btn-success btn-menu" >
                        <div>
                            <div class="icon">
                                <i class="bi bi-archive"></i>
                            </div>
                            <div class="txt-button">
                                <p>Arquivos Guia</p>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="iten-menu">
                <form action="/perfil">
                    <button id="btn-quit" name="btn-quit" type="submit" class="btn btn-success btn-menu">
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="txt-button">
                                {% if logado %}
                                <p>{{logado[2]}}</p>
                                {% endif%}
                            </div>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="chat-box" id="chat-box">
            <!-- Chat messages will be added here dynamically -->
        </div>

        <div class="prompt">
            <span class="txt">
                <textarea class="send-txt" rows="3" placeholder="Faça sua perunta aqui..."
                    id="message-input"></textarea>
            </span>
            <span class="btn">
                <button type="submit" onclick="sendMessage()" class="btn btn-primary send-btn"
                    id="send-btn">Enviar</button>
            </span>
        </div>
    </div>
    <script src="..\static\javascript\js-agt.js"></script>
    <script src="..\static\javascript\js-header.js"></script>
</body>

</html>