<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>A.T. Fatec</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\static\css\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\style-header.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\style-arquivo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="menu-lateral">
        <div>
            <div class="logo">
                <img src="..\static\imagens\logo.png" id="logo">
            </div>
            <div class="txt-logo">
                <p>SISAWEB</p>
            </div>
        </div>
        <br>
        <div id="btn-expand">
            <i class="bi bi-list"></i>
        </div>
        <div class="menu">
            <div class="iten-menu">
                <form action="/agrotech">
                    <button id="btn-agrotech" name="btn-agrotech" type="submit" class="btn btn-success btn-menu">
                        <div>
                            <div class="icon">
                                <i class="bi bi-virus"></i>
                            </div>
                            <div class="txt-button">
                                <p>CHAT</p>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="iten-menu">
                <form action="/arquivos">
                    <button id="btn-files" name="btn-files" type="submit" class="btn btn-success btn-menu" value="dre">
                        <div>
                            <div class="icon">
                                <i class="bi bi-archive"></i>
                            </div>
                            <div class="txt-button">
                                <p>Arquivos</p>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="iten-menu">
                <form action="/guia">
                    <button id="btn-files" name="btn-files" type="submit" class="btn btn-success btn-menu" >
                        <div>
                            <div class="icon">
                                <i class="bi bi-archive"></i>
                            </div>
                            <div class="txt-button">
                                <p>Arquivos Guia</p>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="iten-menu">
                <form action="/perfil">
                    <button id="btn-quit" name="btn-quit" type="submit" class="btn btn-success btn-menu">
                        <div>
                            <div class="icon">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="txt-button">
                                {% if logado %}
                                <p>{{logado[2]}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="content">
        <form action="/buscar" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example" name="nome">
                    {% for c in range(range_cidades) %}
                    <option value="{{cidades[c]}}">{{cidades[c]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example" name="tipo">
                    {% for c in range(1,17) %}
                    <option value="{{c}}">Tipo {{c}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-secondary">Buscar</button>
        </form>
        <div class="tabela">
            {% if nada_encotnrado %}
            <div class="nada">
                <h1>{{nada_encotnrado}}</h1>
            </div>
            {% elif busca_lista %}
            <table class="table table-striped">
                <thead>
                    {% for i in range(range_colunas) %}
                    <th scope="col">{{nomes_colunas[i]}}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for l in range(range_busca) %}
                        <tr>
                            {% for c in range(range_colunas) %}
                                <td>{{busca_lista[l][c]}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="lista">
                <ul class="list-group">
                    <li class="list-group-item">Tipo 1: Visita a Imóveis: imóveis trabalhados, fechados e pendencia</li>
                    <li class="list-group-item">Tipo 2: Visita a Imóveis: imóveis trabalhados, fechados e tratamentos</li>
                    <li class="list-group-item">Tipo 3: Agentes: semana, dias, imóveis trabalhados, fechados e positivos</li>
                    <li class="list-group-item">Tipo 4: Visitas: imóveis trabalhados, fechados, positivos e tratamentos</li>
                    <li class="list-group-item">Tipo 5: Controle de Criadouros: imóveis trabalhados, fechados e tratamentos</li>
                    <li class="list-group-item">Tipo 6: Áreas Transmissão: imóveis trabalhados, fechados, tratamentos e recip. com água</li>
                    <li class="list-group-item">Tipo 7: Índices Controle: imóveis trabalhados, fechados, recip. com água, larvas e índices</li>
                    <li class="list-group-item">Tipo 8: Aval Densid Larvária: imóveis trabalhados, recip. positivos e índices</li>
                    <li class="list-group-item">Tipo 9: Aval Densid Larvária - Grupo de Recipientes: qualificação de recipients por grupo</li>
                    <li class="list-group-item">Tipo 10: Aval Densid Larvária: índices de recipientes</li>
                    <li class="list-group-item">Tipo 11: Ovitrampa: positividade</li>
                    <li class="list-group-item">Tipo 12: Imóveis Cadastrados: cobertura. Considera existentes antes do período de início</li>
                    <li class="list-group-item">Tipo 13: Imóveis Cadastrados: positividade e tratamentos</li>
                    <li class="list-group-item">Tipo 14: Aval Densid Larvária - Tipo de Recipientes: qualificação de recipients por tipo e censitário</li>
                    <li class="list-group-item">Tipo 15: Visita a Imóveis - Pendência por Setor Censitário</li>
                    <li class="list-group-item">Tipo 16: Visita a Imóveis - Qualificação da Pendência por Setor Censitário</li>
                  </ul>
            </div>   
            {% endif %}
        </div>
    </div>
    <script src="..\static\javascript\js-agt.js"></script>
    <script src="..\static\javascript\js-header.js"></script>
</body>

</html>